
<div class='panel panel-primary'>   
    <div class='panel-heading'>
        Login
    </div>
    <div class='panel-body'>
        <div class='table-responsive'>
            <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>
            <!--<div style="padding-bottom:10px"><button class="btn btn-primary" (click)="LoginUser()">Add</button></div>-->
            <div class="form-group">
                <div class="col-md-4 col-md-offset-4">
                    <h2>Login</h2>

                    <!--<div [formGroup]="workFrm" class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" placeholder="Name" formControlName="Name" [(ngModel)]="Name">                       
                    </div>-->
                    <div [formGroup]="workFrm" class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" placeholder="Email" formControlName="Email" [(ngModel)]="Email" tabindex="0">
                        <!--<div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>-->
                    </div>
                    <div [formGroup]="workFrm" class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" placeholder="Password" formControlName="Password" [(ngModel)]="password" tabindex="1">
                        <!--<div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>-->
                    </div>

                    <div [formGroup]="workFrm" class="form-group">
                        <button [disabled]="loading" class="btn btn-primary" (click)="LoginUser()" tabindex="2">Login</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        <a class="btn btn-link" (click)="addUser()" >Register</a>
                    </div>

                    <div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(workFrm)" [formGroup]="workFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">
                <div>
                    <span>Name*</span>
                    <input type="text" class="form-control" placeholder="Name" formControlName="Name">
                </div>
                <div>
                    <span>Password</span>
                    <input type="password" class="form-control" placeholder="Password" formControlName="Password">
                </div>
                <div>
                    <span>Email</span>
                    <input type="email" class="form-control" placeholder="Email" formControlName="Email">
                </div>
                <div>
                    <span>Gender*</span>
                    <select formControlName="Gender" class="form-control">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
                <div>
                    <span>Role</span>
                   
                    <select formControlName="RoleId" class="form-control" >
                        <option *ngFor="let p of programs"
                                [value]="p.RoleId">
                                <!--[selected]="p.Name == selectedObject.Name">-->
                            {{p.Name}}
                        </option>
                    </select>
                   
                       
                  
                </div>

            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="workFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>


